.contact {
    padding: 30px;
    align-items: center;
    background-color: $offwhite;

    h2 {
        font-size: 18px;
        font-weight: bold;
       

        
        @include media-breakpoint-up(lg) {
        font-size: 30px;
        font-weight: bold;
        }


    }

    &__title {
        text-align: center;
        margin-bottom: 20px;

        @include media-breakpoint-up(lg) {
        text-align: center;
        
            }
    }

    &__desc {
        text-align: center;
        padding: 0 ;
        margin-bottom: 20px;
        font-size:12px;

        @include media-breakpoint-up(lg) {
            text-align: center;
            padding: 0 170px;
            margin-bottom: 30px;
            font-size:16px;
        }
    }
}

.form-item {
    margin-bottom: 20px;

    &__input {
        width: 100%;
        text-align: center;
        color: $grey;
        height:30px;
        font-size:10px;

        @include media-breakpoint-up(lg) {
        width: 100%;
        text-align: center;
        color: $grey;
        height:44px;
        font-size:14px;
        }
    }
}

.btn {
    padding: 10px 50px;
}

.btn-success {
    padding: 12px 35px;
    font-size: 10px;
    line-height: 10px;
    background-color: $green;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
    padding: 12px 70px;
    font-size: 14px;
    line-height: 14px;
    background-color: $green;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 128px;
        }
}