.reference{
    padding: 52px 0 75px ;
   
    
    
    background-size: cover;

    &__title{
        text-align: center;
        margin-bottom: 30px;
        font-size: 30px;
        color:$white
        
    }
    
    &__desc{
        text-align: center;
        margin-bottom: 30px;
        color:$white
    }
    h3 {
        font-size: 30px;
        line-height: 30px;
        text-transform: uppercase;
     }

     }

     
     .card{
        background-color: $white;
        
       

      

.card-title{
    padding: 0 0 26px 20px;
    font-size: 20.31px;
    color:$blue
   
    
}
.card-text{
    font-size: 13.54px;
    padding: 0 0 50px 23px;
}

}

.overlay{
    position:absolute;
    background-color: #01567d;
    z-index:-1;
    width:100%;
   


}





