.banner {
    &__desc {
        font-size: 10px;
        color: $white;

        @include media-breakpoint-up(lg) {
            font-size: 18px;
        }
    }

    &__title {
        font-size: 24px;
        line-height: 24px;
        color: $white;
        margin-top: 80px;

        @include media-breakpoint-up(lg) {
            font-family: $Open-sans;
            font-size: 70px;
            line-height: 70px;
            margin-top: 146px;
        }
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        z-index: 1;
    }
}