.banner {
    background: url('../images/banner.png');
    width: 100%;
    height: auto;
    padding-bottom: 258px;
   background-size: cover;

.banner__desc{
font-size: 18px;
color:$white;
}

h1{
    font-size: 72px;
    line-height: 72px;
    color:$white;
    margin-top:146px;
}
}
    
   
