.banner {
    position: relative;

    &__desc {
        font-size: 10px;
        color: $white;

        // padding: 0 50px;
        @include media-breakpoint-up(lg) {
            font-size: 18px;
        }
    }

    &__container,
    &__row {
        height: 100%;
    }

    &__contents {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-size: 24px;
        line-height: 24px;
        color: $white;
        // margin-top: 80px;
        margin-bottom: 10px;
        position: relative;
        font-family: $Gothic-Regular;

        @include media-breakpoint-up(lg) {
            font-size: 60px;
            line-height: 72px;
            // margin-top: 149px;
            // padding: 0 42px;
        }
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        z-index: 1;
    }
}

h1 {
    margin: 0;
}

.image {
    width: 100%;
    object-fit: cover;
}