.news {
    padding: 86px 32px;
    ;

    &__title {
        margin-top: 62px;
        margin-bottom: 40px;
        margin-left: 10px;
        font-size: 28px;
        line-height: 28px;
        color: $blue;

        @include media-breakpoint-up(lg) {
            font-size: 30.47px;
            color: $blue;
            margin-top: 30px;
            margin-bottom: 25px;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 62px;
            margin-bottom: 40px;
        }
    }

    &__desc {
        font-size: 12px;
        margin-bottom: 0;
        margin-left: 10px;
        color: $grey;

        @include media-breakpoint-up(lg) {
            font-size: 13.54px;
            margin-bottom: 45px;
            padding-right: 20px;
        }
    }

    &__info {
        color: $blue;
        font-size: 12px;
        font-weight: bold;
        margin-left: 10px;
    }

    @include media-breakpoint-up(lg) {
        color: $blue;
        font-size: 14px;
    }
}

.latest-News {
    background-color: #0b1a26;

    &__img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }

    picture {
        height: 100%;
    }
}