body  {
  font-family: $Open-sans;
  overflow-x: hidden;
  font-weight: $regular;
}

strong {
  font-weight: $regular;
}

@font-face {
  font-family:'Open Sans';
  src: url('../fonts/Open Sans Regular.eot');
  src: url('../fonts/Open Sans Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Open Sans Regular.woff2') format('woff2'),
  url('../fonts/Open Sans Regular.woff') format('woff'),
  url('../fonts/Open Sans Regular.svg#Open Sans Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-02DC;
}

