footer {
    background-color: $darkblue;
    padding: 30px;
    height: auto;
    color: $grey;
}

.foot {
    &__item {
        margin-top: 50px;
    }

    &__desc {
        margin-top: 20px;
        font-size: 12px;
        margin-bottom: 15px;

        @include media-breakpoint-up(lg) {
            margin-top: 29px;
            line-height: 26px;
            font-size: 14px;
        }
    }
}

.footer1 {
    &__nav li {
        margin-bottom: 18px;
        // margin-left: 50px;
        font-size: 14px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 15px;
            margin-left: 100px;
            font-size: 16px;
        }
    }
}

.footer2 {
    margin-left: 70px;

    &__addr {
        margin-bottom: 25px;
        font-size: 12px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 35px;
            font-size: 14px;
        }
    }

    &__info {
        font-size: 18px;
        color: $white;
        margin-bottom: 20px;

        @include media-breakpoint-up(lg) {
            font-size: 24px;
            color: $white;
            margin-bottom: 22px;
        }
    }

    &__email {
        color: $blue;
        font-size: 14px;
    }

    &__contact {
        font-size: 14px;
    }
}

a {
    margin-left: 0;
}