a {
    color: $white;
    text-decoration: none;
    margin-right: 8px;
}

header {
    background: $black;
    
}

.register {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__item {
        color: $white;
        list-style: none;
        display: inline-block;
        border-right: 1px solid #4d4d4d;
        margin-left: 10px;
        height:30px;
    }

    &__item1 {
        border-left: 1px solid #4d4d4d;
        border-right: 1px solid #4d4d4d;
        height:30px;
    }

    &__link {
        font-size: 12px;
        color: $grey;
    }

    &__link1 {
        font-size: 12px;
    }
}