nav {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 20px 4px;

}
.navbar{
    
    
    &__menu li{
        display:inline-block;
    }

    &__menu a{
        color:#000;
    }
}



.active {
    background-color: $blue;
    border-radius: 25px;
   color: $white;
}



    
